# build script + output directories
build.sh
build_ntfy.sh
_dist/
_releases/
_releases_test/
_dist_tools/
_releases_tools/

# ide
.idea/

# config
app/config.php
loldata/
userconfig/
.env

# tests and logs
logs/

# deps
vendor/

# misc
composer.lock
loldata/
misc/*.cache
notify.sh
.DS_Store
*.map
.php_cs.cache

node_modules/
